# Dependencies
/node_modules
/frontend/node_modules

# Build files
/build
/frontend/build

# Log files
*.log

# Database files
*.db
*.db.bak

# Python cache
__pycache__/

# Environment variables
.env
backend/.env
